<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document Upload</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/sec5.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

<header>
<div class="container_1">
<div class="logo">
<img src="{{ url_for('static', filename='images/rinlproject.png') }}">
<p>RINL Employee Verification Portal</p>
</div>
</div>
</header>


<section>

<!-- progress -->
<div class="ball">

<div class="ball1">
<div class="circle c1"><i class="fa-solid fa-check"></i></div>
<p>About</p>
</div>

<div class="ball1">
<div class="circle c2"><i class="fa-solid fa-check"></i></div>
<p>Registration</p>
</div>

<div class="ball1">
<div class="circle c3"><i class="fa-solid fa-check"></i></div>
<p>Safety Guidelines</p>
</div>

<div class="ball1">
<div class="circle c4"><i class="fa-solid fa-check"></i></div>
<p>MCQ Test</p>
</div>

<div class="ball1">
<div class="circle c5">5</div>
<p>Document Upload</p>
</div>

<div class="ball1">
<div class="circle">6</div>
<p>ID card Generation</p>
</div>

</div>


<form action="/upload" method="POST" enctype="multipart/form-data">
<input type="hidden" name="email" value="{{ email }}">

<div class="white-box">

<div class="heading">
<p>Upload Required Document</p>
</div>

<div class="main">

<div class="sec1">
<div class="upload-container">
<h2>Aadhar card</h2>
<input type="file" name="aadhaar" required>
</div>

<div class="upload-container">
<h2>PAN Card</h2>
<input type="file" name="pan" required>
</div>

<div class="upload-container">
<h2>Resume / CV</h2>
<input type="file" name="resume" required>
</div>
</div>

<div class="sec2">
<div class="upload-container">
<h2>Education Certificate</h2>
<input type="file" name="certificate" required>
</div>

<div class="upload-container">
<h2>Photo for ID Card</h2>
<input type="file" name="photo" required>
</div>
</div>

</div>

</div>

<div class="next-container">
<button type="submit" class="next-btn">Next</button>
</div>

</form>

</section>


<footer class="rinl-footer">
<div class="footer-section">
<h2>Contact Information</h2>
<a href="#">Rashtriya Ispat Nigam Limited</a>
<a href="#">Visakhapatnam Steel Plant</a>
<a href="#">Visakhapatnam - 530031</a>
<a href="#">Andhra Pradesh, India</a>
</div>
</footer>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>